body {
  margin: 0px;
  background-color: black;
  font-size:20px;
  font-family: "Muller","Arial",sans-serif;
}

/*page : header, content, footer*/
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header{
  background-color: black;
  padding: 10px;
  flex: 0 0 auto;
  color: white;
}

.content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 2vh;
  background-color: #DDD;

}

.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 10px;
  background-color: black;
}

/* page.header : */


/* page.content : menu, dealArea */

.menu{
  width: 35vh;
  background-color: #EEE;
  padding: 2vh;
  min-width: 120px;
  min-height: 200px;
}

.dealArea{
  margin-left: 2vh;
  width: 100%;
  background-color: #EEE;
  padding: 2vh;
  min-width: 600px;
  min-height: 200px;
}

/* page.footer */

/* dealArea :*/
.deals{
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 640px;
}
.deals_item{
  display:inline-block;
  margin-top: -5px;
  width: 600px;
  min-height: 50px;
  transition: opacity 0.1s, transform 0.8s, font-size 0.5s, margin 0.3s;
}

.deals_item-name{
  position: relative;
  width: 50%;
  height: 15px;
  background-color: white;
  padding: 10px;
  border-radius: 15px 15px 0 0;

}

.deals_item-description{
  position: relative;
  width: 560px;
  padding: 10px;
  border-radius: 0 15px 0 0;
  background-color: powderblue;

}

/*сложные задачи*/
.difficultDeal> .deals_item-description{
  background-color: #FF7373;
}

/*простые задачи*/
.easyDeal> .deals_item-description{
  background-color: #E5FB72;
}

/*средние задачи*/
.middleDeal> .deals_item-description{
  background-color: #FFF173;
}


.deals_item-delete{
  position: relative;
  top: -45px;
  left: 600px;
  width: 25px;
  height: 25px;
  padding: 0px;
  border-radius: 15px;
  background-color: #9e0540;
}

.deals_item-ok{
  position: relative;
  top: -100px;
  left: 600px;
  width: 25px;
  height: 25px;
  padding: 0px;
  border-radius: 15px;
  background-color: #279c3c;
}

.deals_item-delete:hover{
  background-color: #d927c4;
}

.deals_item-ok:hover{
  background-color: #63db79;
}
