<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TodoTodo.ml Активные дела</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
	<link rel="icon" href="/public/img/favicon.png" type="image/x-icon">

    <!-- style -->
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/dashboard.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/menu.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/modal.css'>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- js -->
    <script src="/public/js/dashboard.js" async></script>
</head>

<body>
    <div class="dashboard-page">
        <!-- Хэдер -->
        <div class="dashboard-header">header</div>
        
        <!-- Контент -->        
        <div class="dashboard-content" id="dashboard-content-id">
            <!-- Меню -->
            <div class="block-menu">
                <!-- Лого -->
                <div class="block-logo">
                    <img class="logo-img" src="public/img/logo2.svg">
                    <h1 class="logo-text">TodoTodo.ml</h1>
                    <h2 class="logo-slogan">Сохраняем себе ваши заметочки</h2>
                </div>
                <ul>
                    <li> <h2 href="#">Меню</h2> </li>
                    <li> <a href="archive">Архив дел</a> </li>
                    <li> <a href="#" onclick="Logout()">Выйти</a> </li>
                </ul>    
            </div>
            <!-- Окно авторизации -->
            <div class="dashboard-dashboard">

                <div class="btn-add-task" onclick="openWindow()">+ Добавить дело</div>
                
                <!-- Сегодня -->
                <div class="task-block">
                    <h2>Сегодня</h2>
					{{range .Today}}
                    <div class="task" id="{{.IDTask}}">
                        <div  class="task-head-block">
                            <h2 class="task-headline">{{.Title.String}}</h2>
                            <div  class="task-btn-block">
                                <button class="btn done-btn"  onclick="taskDone(this)" >&#128402; done</button>
                                <!--
                                <button class="btn edit-btn">&#9998; edit</button>
                                -->
                                <button class="btn delete-btn"  onclick="taskDelete(this)" > &#128403; delete</button>   
                            </div>
                        </div>

                        <div class="task-body-block">
                            <p class="task-text">{{.Description.String}}</p>
                        </div>
                    </div>
					{{end}}
                </div> 
                <!-- end Сегодня -->

                <!-- Завтра -->
                <div class="task-block">
                    <h2>Завтра</h2>
					{{range .Tomorrow}}
                    <div class="task" id="{{.IDTask}}">
                        <div  class="task-head-block">
                            <h2 class="task-headline">{{.Title.String}}</h2>
                            <div  class="task-btn-block">
                                <button class="btn done-btn"  onclick="taskDone(this)" >&#128402; done</button>
                                <!--
                                <button class="btn edit-btn">&#9998; edit</button>
                                -->
                                <button class="btn delete-btn"  onclick="taskDelete(this)" > &#128403; delete</button>   
                            </div>
                        </div>

                        <div class="task-body-block">
                            <p class="task-text">{{.Description.String}}</p>
                        </div>
                    </div>
					{{end}}
                </div> 
                <!-- end Завтра -->
                
                <!-- Скоро -->
                <div class="task-block">
                    <h2>Скоро</h2>
					{{range .Soon}}
                    <div class="task" id="{{.IDTask}}">
                        <div  class="task-head-block">
                            <h2 class="task-headline">{{.Title.String}}</h2>
                            <div  class="task-btn-block">
                                    <button class="btn done-btn"  onclick="taskDone(this)" >&#128402; done</button>
                                    <!--
                                <button class="btn edit-btn">&#9998; edit</button>
                                -->
                                <button class="btn delete-btn"  onclick="taskDelete(this)" > &#128403; delete</button>   
                            </div>
                        </div>

                        <div class="task-body-block">
                            <p class="task-text">{{.Description.String}}</p>
                        </div>
                    </div>
					{{end}}
                </div> 
                <!-- end Скоро -->     
        </div>
        

    </div>

    <!-- Футер -->
    <div class="dashboard-footer">
        <center>
            <span>2019</span>
        </center>
    </div>
    
     <!-- The Modal -->
     <div id="id01" class="modal">
        
        <div class="modal-container">
            <div class="modal-container-title">
                <h1>Добавить новое задание</h1>
            </div>

            <div class="modal-form">
                    
                    <div class="modal-ci-title-container">
                        <h2>Заголовок</h2>
                        <input class="modal-input-title" type="text" name="title">
                    </div> 
                    
                    <div class="modal-ci-description-container">
                        <h2>Описание</h2>     
                        <textarea class="modal-input-description" name="description" rows="5" cols="33"></textarea>             
                    </div>
                    
                    <div class="modal-ci-date-container">
                        <h2>Дата исполнения</h2>    
                        <input class="modal-input-date" type="date" name="date" value="2012-3-23">
                    </div>  
                    
                    <div id="errMessageContainer" class="modal-ci-errMessage-container">
                        <div id="errMessage" class="modal-ci-errMessage"></div>
                    </div> 

                    <div class="modal-ci-btn-container">
                        <button class="btn modal-close" onclick="closeWindow()">&times; Закрыть</button>
                        <button class="btn modal-done" onclick="taskAdd()" >&#128402; Добавить </button>
                    </div>  

            </div> 
        </div>
    </div>

</body>
</html>