<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TodoTodo.ml Авторизация</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/public/img/favicon.png" type="image/x-icon">
    
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/login.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/menu.css'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div class="login-page">
        <!-- Хэдер -->
        <div class="login-header">header</div>
        
        <!-- Контент -->        
        <div class="login-content">
            <!-- Меню -->
            <div class="block-menu">
                <!-- Лого -->
                <div class="block-logo">
                    <img class="logo-img" src="public/img/logo2.svg">
                    <h1 class="logo-text">TodoTodo.ml</h1>
                    <h2 class="logo-slogan">Сохраняем себе ваши заметочки</h2>
                </div>

                <ul>
                    <li> <h2 href="#">Menu</h2> </li>
                    <li> <a href="registration">Регистрация</a> </li>               
                </ul>    
            </div>
            
            <!-- Окно авторизации -->
            <div class="login-login">
                <form class="login-login-window" action="/login" method="post">
                    <h1>Авторизация</h1>
                    <h2>Логин или email:</h2>
                    <input class="input-login" type="text" name="login">
                    <h2>Пароль:</h2>
                    <input class="input-pswd" type="password" name="password">
                    <input class="input-submit" type="submit" value="Login">
                </form>    
            </div>       
        </div>
        
        <!-- Футер -->
        <div class="login-footer">
            <center><span>2019</span></center>
        </div>
    </div>
</body>
</html>