
/* Цвета*/
:root {
    --bg-color: #F4F9F9 ;

    --window-text:  #247BA0;
    --window-bg:  #E1F0C4;
    --window-border:  #605856;

    --input-border: #605856;
    --input-bg: #E1F0C4;
    --input-text: #247BA0;

    --footer-bg: #E1F0C4;
    --footer-text: #247BA0;
}

.main-page{
    display: flex;
    flex-direction: column;
    height: 100vh;

    font-family: 'Open Sans', sans-serif;
}

.main-header{
   display: none;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 auto;

    background-color: var(--bg-color);

}

.main-footer{
    flex-shrink: 0;
    padding: 10px;

    background-color: var(--footer-bg);
    color: var(--footer-text);
}

/* Содержимое контента */
.main-main{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.btn-enter{

    background-image: linear-gradient(rgb(127, 255, 238), rgb(126, 231, 231));
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 150px;

    border-radius: 5px;
}
/**/
.block-content{
    display: flex;
    flex-direction: row;
}

.content-img{
    margin: 20px;
    height: 250px;
}

.content-text{
    margin: 20px;
    width: 400px;
}
/* Мелочи */
a{
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: var(--window-text);
}
  
h2 {
    text-align: left;
    font-size: 17px;
    color: var(--window-text);

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding: 0px;
}

.input-login{
    transition-duration: 0.5s;
    text-align: left;
    font-size: 17px;
    font-family: 'Open Sans', serif;
    
    margin: 5px;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}


.cookie-popper {
    max-width: 960px;
    position: fixed;
    bottom: 0;
    left:25%;
    right:25%;
    margin:0 auto;
    padding-bottom: 0.5em;
    background-color: #efefef;
    font-family: arial;
    font-size: 16px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    margin: 0 auto;
    transform: translateY(120%);
    transition: 250ms transform ease-in;
    will-change: transform;
  }
  
  .js.cookie-popper {transform:translateY(0%);max-width:960px;}
  
  .cookie-text {
    width: auto;
    display: inline-block;
    margin: 0 auto;
    margin-left: 1.5em;
  }
  
  .cookie-buttons {
    background-color: #b50038;
    color: #eff;
    font-size: 18px;
    border: none;
    padding: 1em; margin:0.5em 1em;
        box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    border-radius:5px;
    transition:box-shadow 250ms linear;
  }
  
  .cookie-buttons:active{
   box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    
  }