<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TodoTodo.ml Архив дел</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- favicon -->
    <link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
	<link rel="icon" href="/public/img/favicon.png" type="image/x-icon">

    <!-- style -->
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/dashboard.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/menu.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/modal.css'>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- js -->
    <script src="/public/js/dashboard.js" async></script>
</head>

<body>
    <div class="dashboard-page">
        <!-- Хэдер -->
        <div class="dashboard-header">header</div>
        
        <!-- Контент -->        
        <div class="dashboard-content">
            <!-- Меню -->
            <div class="block-menu">
                <!-- Лого -->
                <div class="block-logo">
                    <img class="logo-img" src="public/img/logo2.svg">
                    <h1 class="logo-text">TodoTodo.ml</h1>
                    <h2 class="logo-slogan">Сохраняем себе ваши заметочки</h2>
                </div>
                <ul>
                    <li> <h2 href="#">Меню</h2> </li>
                    <li> <a href="dashboard">Активные дела</a> </li>
                </ul>    
            </div>
            <!--  -->
            <div class="dashboard-dashboard">                
                <!-- Выполнены -->
                <div class="task-block">
                    <h2>Выполненные дела</h2>
					{{range .Done}}
                    <div class="task" id="{{.IDTask}}">
                        <div  class="task-head-block">
                            <h2 class="task-headline">{{.Title.String}}</h2>
                        </div>

                        <div class="task-body-block">
                            <p class="task-text">{{.Description.String}}</p>
                        </div>
                    </div>
					{{end}}
                </div> 
                <!-- end Выполнены -->

                <!-- Не выполнены -->
                <div class="task-block">
                    <h2>Не сделанные дела</h2>
					{{range .NotDone}}
                    <div class="task" id="{{.IDTask}}">
                        <div  class="task-head-block">
                            <h2 class="task-headline">{{.Title.String}}</h2>
                        </div>

                        <div class="task-body-block">
                            <p class="task-text">{{.Description.String}}</p>
                        </div>
                    </div>
					{{end}}
                </div> 
                <!-- end Не выполнены -->
        </div>
    </div>

    <!-- Футер -->
    <div class="dashboard-footer">
        <center>
            <span>2019</span>
        </center>
    </div>
    
</body>
</html>