<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TodoTodo.ml Главная страница</title>
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- favicon -->
	<link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
	<link rel="icon" href="/public/img/favicon.png" type="image/x-icon">

    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/main.css'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <meta name="yandex-verification" content="561e7176d974571a" />
</head>

<body>
    <div class="main-page">
        <!-- Хэдер -->
        <div class="main-header">header</div>
        
        <!-- Контент -->        
        <div class="main-content">
            
             <!-- Лого -->
             <div class="block-logo">
                <img class="logo-img" src="public/img/logo2.svg">
                <h1 class="logo-text">TodoTodo.ml</h1>
                <h2 class="logo-slogan">Сохраняем себе ваши заметочки</h2>
            </div>

             <!-- Текст и картинки -->
            <div class="block-content">
                <img class="content-img" src="public/img/stock/image1.jpeg">
                <h3 class="content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis semper turpis eu dapibus. Nam diam nibh, malesuada id mauris vel, venenatis accumsan lorem. Vivamus hendrerit scelerisque tellus et blandit. Ut dignissim dictum lectus, a sollicitudin dolor tristique in. Phasellus viverra quis dui vitae porttitor. Integer sed neque tortor. Nullam eget ullamcorper erat. Vivamus volutpat enim vel egestas bibendum. Curabitur auctor ligula et sapien imperdiet, eget vehicula ligula fringilla. Aliquam odio sem, vehicula ut risus a, malesuada molestie odio. Praesent arcu nisi, imperdiet in pharetra id, sagittis quis augue. Vivamus quis purus sollicitudin, sodales orci sit amet, scelerisque elit. Etiam euismod, risus quis sollicitudin vulputate, dui velit commodo eros, non scelerisque metus erat et lectus.
                </h3>
            </div>

            <!-- Текст и картинки -->
            <div class="block-content">
                <h3 class="content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis semper turpis eu dapibus. Nam diam nibh, malesuada id mauris vel, venenatis accumsan lorem. Vivamus hendrerit scelerisque tellus et blandit. Ut dignissim dictum lectus, a sollicitudin dolor tristique in. Phasellus viverra quis dui vitae porttitor. Integer sed neque tortor. Nullam eget ullamcorper erat. Vivamus volutpat enim vel egestas bibendum. Curabitur auctor ligula et sapien imperdiet, eget vehicula ligula fringilla. Aliquam odio sem, vehicula ut risus a, malesuada molestie odio. Praesent arcu nisi, imperdiet in pharetra id, sagittis quis augue. Vivamus quis purus sollicitudin, sodales orci sit amet, scelerisque elit. Etiam euismod, risus quis sollicitudin vulputate, dui velit commodo eros, non scelerisque metus erat et lectus.
                </h3>
                <img class="content-img" src="public/img/stock/image2.jpeg">

            </div>

            <div class="block-enter">
                 <!-- Войти -->                
                <a  href="login">
                    <div class="btn-enter">Войди</div>
                </a>
                 <!-- Зарегестрироваться -->                
                <a  href="registration">
                        <div class="btn-enter">Зарегайся</div>
                </a>   
            </div>

            <!-- Текст и картинки -->
            <div class="block-content">
                <img class="content-img" src="public/img/stock/image3.jpeg">
                <h3 class="content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lobortis semper turpis eu dapibus. Nam diam nibh, malesuada id mauris vel, venenatis accumsan lorem. Vivamus hendrerit scelerisque tellus et blandit. Ut dignissim dictum lectus, a sollicitudin dolor tristique in. Phasellus viverra quis dui vitae porttitor. Integer sed neque tortor. Nullam eget ullamcorper erat. Vivamus volutpat enim vel egestas bibendum. Curabitur auctor ligula et sapien imperdiet, eget vehicula ligula fringilla. Aliquam odio sem, vehicula ut risus a, malesuada molestie odio. Praesent arcu nisi, imperdiet in pharetra id, sagittis quis augue. Vivamus quis purus sollicitudin, sodales orci sit amet, scelerisque elit. Etiam euismod, risus quis sollicitudin vulputate, dui velit commodo eros, non scelerisque metus erat et lectus.
                </h3>
            </div>

        </div>
        
        <!-- Футер -->
        <div class="main-footer">
            <center><span>2019</span></center>
        </div>
    </div>
</body>
</html>