<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TodoTodo.ml Главная страница</title>
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- favicon -->
	<link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
	<link rel="icon" href="/public/img/favicon.png" type="image/x-icon">

    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/main.css'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <meta name="yandex-verification" content="561e7176d974571a" />
</head>

<body>
    <div class="main-page">
        <!-- Хэдер -->
        <div class="main-header">header</div>
        
        <!-- Контент -->        
        <div class="main-content">
            
             <!-- Лого -->
             <div class="block-logo">
                <img class="logo-img" src="public/img/logo2.svg">
                <h1 class="logo-text">TodoTodo.ml</h1>
                <h2 class="logo-slogan">Сохраняем себе ваши заметочки</h2>
            </div>

            
            <h1> Лучший сайт на свете </h1>

            <div class="block-enter">
                
                <a  href="login">
                    <div class="btn-enter">Войди</div>
                </a>

                <a  href="registration">
                        <div class="btn-enter">Зарегайся</div>
                </a>   
            </div>

        </div>
        
        <!-- Футер -->
        <div class="main-footer">
            <center><span>123</span></center>
        </div>
    </div>
</body>
</html>