<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TodoTodo.ml Главная страница</title>
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- favicon -->
	<link rel="shortcut icon" href="/public/img/favicon.png" type="image/x-icon">
	<link rel="icon" href="/public/img/favicon.png" type="image/x-icon">

    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/menu.css'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <meta name="yandex-verification" content="561e7176d974571a" />
</head>

<body>
    <div class="main-page">
        <!-- Хэдер -->
        <div class="main-header">header</div>
        
        <!-- Контент -->        
        <div class="main-content">
            <!-- Меню -->
            <div class="block-menu">
            <ul>
                <li> <h2 href="#">Menu</h2> </li>
                <li> <a href="login">Login</a> </li>
                <li> <a href="registration">Registration</a> </li>
               
            </ul>    
            </div>
            <!-- Окно авторизации -->
            <div class="main-main">
                <h1> Лучший сайт на свете </h1>
                <br>
                <a href="login"> Войди </a>
                <br>
                <a href="registration"> Зарегайся </a>
            </div>       
        </div>
        
        <!-- Футер -->
        <div class="main-footer">
            <center><span>123</span></center>
        </div>
    </div>
</body>
</html>