<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Dashboard</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='public/css/style.css'>
	<script src='public/js/script.js' async></script>
</head>
<body>
		<div class = "page">
				<div class = "header">Todo List!
				</div>
				<div class = "content">
					<div class = "menu">menu</div>
					<div class = "dealArea">
						<div class = "deals">
	
							<div class = "deals_item item1 easyDeal">
								<div class = "deals_item-name">Почистить зубы</div>
								<div class = "deals_item-description">Задние, передние, врач все увидит!</div>
								<div class = "deals_item-date">1 день</div>
								<div class = "deals_item-delete"></div>
								<div class = "deals_item-ok"></div>
							</div>
	
							<div class = "deals_item item2 middleDeal">
								<div class = "deals_item-name">Почистить зубы</div>
								<div class = "deals_item-description">
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								</div>
								<div class = "deals_item-date">1 день</div>
								<div class = "deals_item-delete"></div>
								<div class = "deals_item-ok"></div>
							</div>
	
							<div class = "deals_item item3 difficultDeal">
								<div class = "deals_item-name">Почистить зубы</div>
								<div class = "deals_item-description">Задние, передние, врач все увидит!</div>
								<div class = "deals_item-date">1 день</div>
								<div class = "deals_item-delete"></div>
								<div class = "deals_item-ok"></div>
							</div>
	
							<div class = "deals_item item4 easyDeal">
								<div class = "deals_item-name">Почистить зубы</div>
								<div class = "deals_item-description">Задние, передние, врач все увидит!</div>
								<div class = "deals_item-date">1 день</div>
								<div class = "deals_item-delete"></div>
								<div class = "deals_item-ok"></div>
							</div>
	
							<div class = "deals_item item5 middleDeal">
								<div class = "deals_item-name">Почистить зубы</div>
								<div class = "deals_item-description">
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								Задние, передние, врач все увидит!
								</div>
								<div class = "deals_item-date">1 день</div>
								<div class = "deals_item-delete"></div>
								<div class = "deals_item-ok"></div>
							</div>
	
							<div class = "deals_item item6 difficultDeal">
								<div class = "deals_item-name">Почистить зубы</div>
								<div class = "deals_item-description">Задние, передние, врач все увидит!</div>
								<div class = "deals_item-date">1 день</div>
								<div class = "deals_item-delete"></div>
								<div class = "deals_item-ok"></div>
							</div>
	
						</div>
					</div>
				</div>
				<div class = "footer">TodoList<div>
			</div>	
</body>
</html>