<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Registration</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css'>
	<script src='main.js'></script>
</head>
<body>
	<h1>Регистрация</h1>
	<form action="/registration" method="post">
		Login: <input type="text" name="login">
		Password: <input type="password" name="password">
		Email: <input type="email" name="email">
		<input type="submit" value="Регистрация">
	</form>
</body>
</html>